
ADP/EJERCICIOS/Include/
ADP/EJERCICIOS/Lib/
ADP/EJERCICIOS/Scripts/
ADP/EJERCICIOS/share/
ADP/EJERCICIOS/pyvenv.cfg


ESP/EJERCICIOS/Include/
ESP/EJERCICIOS/Lib/
ESP/EJERCICIOS/Scripts/
ESP/EJERCICIOS/share/
ESP/EJERCICIOS/pyvenv.cfg